@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
	// color palette

	--primary-clr-BeduOrange: 255, 95, 41;
	--primary-clr-highlightBlue: 0, 43, 108;
	--primary-clr-White: 255, 255, 255;
	--secondary-clr-lightgray: 217, 217, 217;
	--secondary-clr-mediumGray: 56, 65, 71;
	--secondary-clr-darkGray: 15, 21, 25;

	// font size
	--font-size-12px: 0.75rem;
	--font-size-14px: 0.875rem;
	--font-size-16px: 1rem;
	--font-size-18px: 1.125rem;
	--font-size-20px: 1.25rem;
	--font-size-24px: 1.5rem;
	--font-size-28px: 1.75rem;
	--font-size-32px: 2rem;
	--font-size-36px: 2.25rem;
	--font-size-40px: 2.5rem;
	--font-size-48px: 3rem;
	--font-size-56px: 3.5rem;
	--font-size-64px: 4rem;

	--ff-primary-montserrat: "Montserrat", sans-serif;
	--ff-secondary-rubik: "Rubik", sans-serif;

	// line hight
	--line-height-78: 4.875rem;
	--line-height-68: 4.25rem;
	--line-height-60: 3.75rem;
	--line-height-58: 3.625rem;
	--line-height-48: 3rem;
	--line-height-42: 2.625rem;
	--line-height-39: 2.4375rem;
	--line-height-38: 2.375rem;
	--line-height-36: 2.25rem;
	--line-height-32: 2rem;
	--line-height-24: 1.5rem;
	--line-height-20: 1.25rem;

	// border radius
	--border-radius-2px: 0.125rem;
	--border-radius-4px: 0.25rem;
	--border-radius-8px: 0.5rem;
	--border-radius-12px: 0.75rem;
	--border-radius-16px: 1rem;
	--border-radius-24px: 1.5rem;
	--border-radius-32px: 2rem;
	--border-radius-48px: 3rem;
	--border-radius-64px: 4rem;
}
// root media quiery for fonts

@media (min-width: 1024px) {
	:root {
		--font-size-12px: 0.875rem;
		--font-size-14px: 1rem;
		--font-size-16px: 1.125rem;
		--font-size-18px: 1.25rem;
		--font-size-20px: 1.5rem;
		--font-size-24px: 1.75rem;
		--font-size-28px: 2rem;
		--font-size-32px: 2.25rem;
		--font-size-36px: 2.5rem;
		--font-size-40px: 3rem;
		--font-size-48px: 3.5rem;
		--font-size-56px: 4rem;
		--font-size-64px: 5rem;
	}
}

.testing {
	outline: 1px solid red !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-primary-montserrat);
}

p {
	font-family: var(--ff-secondary-rubik);
}
body {
	background-color: rgb(var(--secondary-clr-darkGray));
}

// /*/* utility classes *\*\ //

// color classes
.color-beduOrange {
	color: rgb(var(--primary-clr-BeduOrange));
}

.color-highlightBlue {
	color: rgb(var(--primary-clr-highlightBlue));
}

.color-White {
	color: rgb(var(--primary-clr-White));
}

.color-grayDark {
	color: rgb(var(--secondary-clr-darkGray));
}
.color-lightgray {
	color: rgb(var(--secondary-clr-lightgray));
}

.color-mediumGray {
	color: rgb(var(--secondary-clr-mediumGray));
}

// bg classes
.bg-clr-beduOrange {
	background-color: rgb(var(--primary-clr-BeduOrange));
}

.bg-clr-highlightBlue {
	background-color: rgb(var(--primary-clr-highlightBlue));
}

.bg-clr-highlightWhite {
	background-color: rgb(var(--primary-clr-highlightWhite));
}

.bg-clr-grayDark {
	background-color: rgb(var(--secondary-clr-darkGray));
}
.bg-clr-lightgray {
	background-color: rgb(var(--secondary-clr-lightgray));
}

.bg-clr-mediumGray {
	background-color: rgb(var(--secondary-clr-mediumGray));
}

// Font classes
.ff-primary-Montserrat {
	font-family: var(--ff-primary-montserrat);
}

.ff-secondary-Rubik {
	font-family: var(--ff-secondary-rubik);
}

// font size

.font-size-12px {
	font-size: var(--font-size-12px);
}
.font-size-14px {
	font-size: var(--font-size-14px);
}
.font-size-16px {
	font-size: var(--font-size-16px);
}
.font-size-18px {
	font-size: var(--font-size-18px);
}
.font-size-20px {
	font-size: var(--font-size-20px);
}
.font-size-24px {
	font-size: var(--font-size-24px);
}
.font-size-28px {
	font-size: var(--font-size-28px);
}
.font-size-32px {
	font-size: var(--font-size-32px);
}
.font-size-36px {
	font-size: var(--font-size-36px);
}
.font-size-40px {
	font-size: var(--font-size-40px);
}
.font-size-48px {
	font-size: var(--font-size-48px);
}
.font-size-56px {
	font-size: var(--font-size-56px);
}
.font-size-64px {
	font-size: var(--font-size-64px);
}

// line height
.line-height-78 {
	line-height: var(--line-height-78);
}
.line-height-68 {
	line-height: var(--line-height-68);
}
.line-height-60 {
	line-height: var(--line-height-60);
}
.line-height-58 {
	line-height: var(--line-height-58);
}
.line-height-48 {
	line-height: var(--line-height-48);
}
.line-height-42 {
	line-height: var(--line-height-42);
}
.line-height-39 {
	line-height: var(--line-height-39);
}
.line-height-38 {
	line-height: var(--line-height-38);
}
.line-height-36 {
	line-height: var(--line-height-36);
}
.line-height-32 {
	line-height: var(--line-height-32);
}
.line-height-24 {
	line-height: var(--line-height-24);
}
.line-height-20 {
	line-height: var(--line-height-20);
}

// font styles
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.normal-case {
	text-transform: none;
}

.underline {
	text-decoration: underline;
}

.line-through {
	text-decoration: line-through;
}
